// header 
@media screen and (max-width: 768px) {
    .header-banner{
        font-size: 1.5rem !important;
    }

    .res{
        font-size: 1.1rem !important;
    }

    .header-logo img{
        height: 2.5rem !important;
    }
}